<div class="table-responsive">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th class="sort-control col-name" (click)="sort(personnel, 'name')">Name
                    <span class="glyphicon glyphicon-sort"></span>
                </th>
                <th class="sort-control col-job" (click)="sort(personnel, 'job')">Job
                    <span class="glyphicon glyphicon-sort"></span>
                </th>
                <th class="sort-control col-joined" (click)="sort(personnel, 'joined')">Joined
                    <span class="glyphicon glyphicon-sort"></span>
                </th>
                <th class="col-programs">Programs</th>
                <th class="col-missions">Missions
                </th>
                <!--<th></th>-->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of personnel"
                class="row-selectable" 
                [class.selected]="isSelected(person)"
                (click)="onSelect(person)">
                <td><span>{{person.name}}</span></td>
                <td><span>{{person.job}}</span></td>
                <td><span>{{person.joined}}</span></td>
                <td>
                    <span *ngIf="person.programs">
                        {{ makeCSList(person.programs) }}
                    </span>
                </td>
                <td>
                    <span *ngIf="person.missions">
                        {{ makeCSList(person.missions) }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>