<div class="table-responsive">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th class="sort-control" (click)="sort(personnel, 'name')">Name
                    <span *ngIf="sortMap.name" class="glyphicon glyphicon-arrow-down"></span>
                    <span *ngIf="!sortMap.name" class="glyphicon glyphicon-arrow-up"></span>
                </th>
                <th class="sort-control" (click)="sort(personnel, 'job')">Job type
                    <span *ngIf="sortMap.job" class="glyphicon glyphicon-arrow-down"></span>
                    <span *ngIf="!sortMap.job" class="glyphicon glyphicon-arrow-up"></span>
                </th>
                <th class="sort-control" (click)="sort(personnel, 'joined')">Year joined
                    <span *ngIf="sortMap.joined" class="glyphicon glyphicon-arrow-down"></span>
                    <span *ngIf="!sortMap.joined" class="glyphicon glyphicon-arrow-up"></span>
                </th>
                <th>Missions
                </th>
                <!--<th></th>-->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of personnel"
                class="row-selectable" 
                [class.selected]="isSelected(person)"
                (click)="onSelect(person)">
                <td><span>{{person.name}}</span></td>
                <td><span>{{person.job}}</span></td>
                <td><span>{{person.joined}}</span></td>
                <td>
                    <span *ngIf="person.missions">
                        {{ makeCSList(person.missions) }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>