
<div *ngIf="person">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div *ngIf="bio">
                        <h2>{{bio.name}}</h2>
                        <p *ngFor="let paragraph of bio.summary">{{paragraph}}</p>
                        <div *ngIf="bio.career">
                            <div *ngFor="let section of bio.career">
                                <h3>{{section.title}}</h3>
                                <p *ngFor="let paragraph of section.body">
                                    {{paragraph}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <profile-preview [person]="person" [listParams]="listParams" [isDetail]="true"></profile-preview>
        </div>
    </div>
</div>