.form-group {
    margin-top: 10px;
}
@media (min-width: 768px) {
    .form-group {
        margin-top: 0;
    }
}
.feature-list {
    padding: 24px;
}

.selected {
    background-color: #333;
    color: #eee;
}
.sorting-toolbar {
    margin-bottom: 24px;
    padding-right: 16px;
}
.label {
    font-size: 14px;
}
.well h3 { 
    margin-top: 6px;
}
.summary-of-results {
    margin-bottom: 12px;
}