<div class="row">
    <div class="col-md-9">
        <!-- Feature panel -->
        <div class="panel panel-default">
            <div class="panel-body feature-list">
                <!-- Filtering, grouping and layout selection controls -->
                <div class="row">
                    <toolbar 
                        [listParams]="listParams"
                        (query)="setQuery($event)"
                        (layout)="selectLayout($event)"
                        (group)="groupBy($event)"></toolbar>
                </div>
                <hr />
                <!-- Quick add control -->
                <div *ngIf="modeMap.add">
                    <quick-add></quick-add>
                </div>
                <!-- Sorting, results per page controls -->
                <div class="row">
                    <div class="col-md-9">
                        <div *ngIf="personnel" class="summary-of-results">
                            <b>Personnel:</b>
                            <span class="label label-default">{{ personnel.length }}</span>
                        </div>
                    </div>
                    <!--TODO implement functionality-->
                    <div class="col-md-3 sorting-toolbar">
                        <div class="form-inline pull-right">
                            <label for="num-results">Results per page:</label>
                            <select #resultsPer class="form-control" name="num-results"
                                    [ngModel]="resultsPer.value"
                                    (ngModelChange)="defineResultsPerPage(resultsPer.value)">
                                <option>10</option>
                                <option>20</option>
                                <option>40</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- List view display-->
                <div *ngIf="groups">
                    <div *ngFor="let key of keys">
                        <h3>{{ key }}
                            <span class="label label-info">
                                {{ groups[key].length }}
                            </span>
                        </h3>
                        <div [ngSwitch]="listParams.layout">
                            <grid-layout *ngSwitchCase="'grid'" 
                                [personnel]="groups[key]"
                                [selectable]="true" 
                                [listParams]="listParams"></grid-layout>
                            <list-layout 
                                *ngSwitchDefault 
                                [personnel]="groups[key]" 
                                [listParams]="listParams"></list-layout>
                        </div>
                    </div>
                </div>
                <div *ngIf="!groups">
                    <div *ngIf="personnel">
                        <div [ngSwitch]="listParams.layout">
                            <grid-layout *ngSwitchCase="'grid'" 
                                [personnel]="personnel"
                                [selectable]="true" 
                                [listParams]="listParams"></grid-layout>
                            <list-layout *ngSwitchDefault [personnel]="personnel" [listParams]="listParams"></list-layout>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Selection preview panel -->
    <div class="col-md-3">
        <div *ngIf="selectedPerson">
            <profile-preview [person]="selectedPerson" [listParams]="listParams"></profile-preview>
        </div>
    </div>
</div>
