.selected {
    background-color: #CFD8DC;
}
.tile-selectable {
    cursor: pointer;
}
.grid-tile .panel {
    margin-top: 3px;
    margin-bottom: 3px;
}
.grid-tile .panel-body {
    padding: 0;
    background-color: #5cb85c;
}
.tile-selectable:hover {
    background-color: #333;
}
.tile-selectable:hover .caption {
    color: #eee;
}
.tile-selectable img {
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.tile-selectable:hover img {
    opacity: .5;
}