.selected, .selected.tile-selectable:hover, .selected .caption {
    background-color: #333;
    color: #eee;
}
.tile-selectable {
    cursor: pointer;
}
.tile-selectable:hover {
    background-color: #dedede;
}