.selected, .selected:hover {
    background-color: #333;
    color: #eee;
}

tr.row-selectable {
    cursor: pointer;
}
tr.row-selectable td span {
    cursor: auto;
}
.sort-control {
    cursor: pointer;
}
.glyphicon {
    margin-left: 6px;
    font-size: 14px;
}