<div class="table-responsive">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th class="sort-control">Name
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </th>
                <th class="sort-control">Job type
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </th>
                <th class="sort-control">Year joined
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </th>
                <th class="sort-control">Missions
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </th>
                <!--<th></th>-->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of personnel"
                class="row-selectable" 
                [class.selected]="isSelected(person)"
                (click)="onSelect(person)">
                <td><span>{{person.name}}</span></td>
                <td><span>{{person.job}}</span></td>
                <td><span>{{person.joined}}</span></td>
                <td>
                    <span *ngIf="person.missions">
                        {{ makeCSList(person.missions) }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>