<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body feature-list">
                <div class="row">
                    <div class="col-md-6">
                        <span class="input-group">
                            <span class="input-group-addon">Filter by: </span>
                            <input type="text" class="form-control" placeholder="Input text to filter the list" name="filter">
                        </span>
                    </div>
                    <div class="col-md-4">
                        <span class="input-group">
                            <span class="input-group-addon">Group by: </span>
                            <select class="form-control">
                                <option>(none)</option>
                                <option>Job type</option>
                                <option>Year joined</option>
                                <option>Missions</option>
                            </select>
                        </span>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default"
                                    title="Table view">
                                <span class="glyphicon glyphicon-list-alt">
                                </span>
                            </button>
                            <button type="button" class="btn btn-default"
                                    title="Thumbnail view">
                                <span class="glyphicon glyphicon-th"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <hr />
                <!--<list-layout [personnel]="personnel" [selectedId]="selectedId"></list-layout>-->
                <div *ngIf="personnel">
                    <grid-layout [personnel]="personnel" [selectedId]="selectedId"></grid-layout>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div *ngIf="selectedPerson">
            <profile-preview [person]="selectedPerson"></profile-preview>
        </div>
    </div>
</div>
