.feature-list {
    padding: 24px;
}
.glyphicon {
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.selected {
    background-color: #333;
    color: #eee;
}
.sorting-toolbar {
    margin-bottom: 24px;
    padding-right: 16px;
}
.label {
    font-size: 14px;
}
.well h3 { 
    margin-top: 6px;
}