<div class="row">
    <div class="col-md-9">
        <!-- Feature panel -->
        <div class="panel panel-default">
            <div class="panel-body feature-list">
                <!-- Filtering, grouping and layout selection controls -->
                <div class="row">
                    <div class="col-md-6">
                        <span class="input-group">
                            <span class="input-group-addon">Filter by: </span>
                            <input #search type="text" class="form-control" placeholder="Input text to filter the list"
                            (keyup)="setQuery(search.value)" name="filter">
                        </span>
                    </div>
                    <div class="col-md-4">
                        <span class="input-group">
                            <span class="input-group-addon">Group by: </span>
                            <select class="form-control">
                                <option>(none)</option>
                                <option>Job type</option>
                                <option>Year joined</option>
                                <option>Missions</option>
                            </select>
                        </span>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group pull-right" role="group" aria-label="...">
                            <button type="button" class="btn btn-default"
                                    [class.selected]="isLayoutSelected('list')"
                                    (click)="selectLayout('list')"
                                    title="Table view">
                                <span class="glyphicon glyphicon-list-alt">
                                </span>
                            </button>
                            <button type="button" class="btn btn-default"
                                    [class.selected]="isLayoutSelected('grid')"
                                    (click)="selectLayout('grid')"
                                    title="Thumbnail view">
                                <span class="glyphicon glyphicon-th"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <hr />
                <!-- Sorting, results per page controls -->
                <div class="row">
                    <div class="col-md-offset-9 sorting-toolbar">
                        <div class="form-inline pull-right">
                            <label for="num-results">Results per page:</label>
                            <select class="form-control" name="num-results">
                                <option>All</option>
                                <option>100</option>
                                <option>48</option>
                                <option>16</option>
                                <option>8</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- List view display-->
                <div *ngIf="personnel">
                    <div [ngSwitch]="listParams.layout">
                        <grid-layout *ngSwitchCase="'grid'" [personnel]="personnel" [listParams]="listParams"></grid-layout>
                        <list-layout *ngSwitchDefault [personnel]="personnel" [listParams]="listParams"></list-layout>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Selection preview panel -->
    <div class="col-md-3">
        <div *ngIf="selectedPerson">
            <profile-preview [person]="selectedPerson"></profile-preview>
        </div>
    </div>
</div>
