<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body table-responsive feature-list">
                <div class="row">
                    <div class="col-md-6">
                        <span class="input-group">
                            <span class="input-group-addon">Filter by: </span>
                            <input type="text" class="form-control" placeholder="Input text to filter the list" name="filter">
                        </span>
                    </div>
                    <div class="col-md-4">
                        <span class="input-group">
                            <span class="input-group-addon">Group by: </span>
                            <select class="form-control">
                                <option>(none)</option>
                                <option>Job type</option>
                                <option>Year joined</option>
                                <option>Missions</option>
                            </select>
                        </span>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-list-alt"></span>
                            </button>
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-th"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <hr />
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Job type</th>
                            <th>Year joined</th>
                            <th>Missions</th>
                            <!--<th></th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let person of personnel"
                            class="row-selectable" 
                            [class.selected]="isSelected(person)"
                            (click)="onSelect(person)">
                            <td><span>{{person.name}}</span></td>
                            <td><span>{{person.job}}</span></td>
                            <td><span>{{person.joined}}</span></td>
                            <td>
                                <span *ngIf="person.missions">
                                    {{ makeCSList(person.missions) }}
                                </span>
                            </td>
                            <!--<td>
                                <button class="btn btn-default btn-sm pull-right" (click)="gotoDetail(person)">view details</button>
                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div *ngIf="selectedPerson">
            <profile-preview [person]="selectedPerson"></profile-preview>
        </div>
    </div>
</div>
