.feature-list {
    padding: 24px;
}
.glyphicon {
    font-size: 20px;
}
.selected {
    background-color: #333;
    color: #eee;
}
.sorting-toolbar {
    margin-bottom: 24px;
    padding-right: 16px;
}
.label {
    font-size: 14px;
}