.selected {
    background-color: #CFD8DC;
    color: white;
}
tr.row-selectable {
    cursor: pointer;
}
tr.row-selectable td span {
    cursor: auto;
}
.feature-list {
    padding: 24px;
}
.glyphicon {
    font-size: 20px;
}