<router-outlet></router-outlet>
<div *ngFor= "let program of programs">
    <h3>{{program.name}}</h3>
    <div *ngIf="program.personnel.length > 1">
        <h4>Personnel: {{program.personnel.length}}</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Wiki</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of program.personnel" 
                [rowHighlight]="'#efefef'">
                    <td>{{person.name}}</td>
                    <td>{{person.title}}</td>
                    <td>
                        <a *ngIf="person.wiki"
                            href="{{person.wiki}}">wiki page</a>
                        <span *ngIf="!person.wiki">not found</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h3>Mercury Missions</h3>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Astronauts</th>
            <th>...</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects"
            [class.selected]="isSelected(project)"
            (click)="onSelect(project)">
            <td>{{project.name}}</td>
            <td>{{project.mission_date}}</td>
            <td>{{project.personnel[0]}}</td>
            <td>
                <button class="btn btn-default">view details</button>
            </td>
        </tr>
    </tbody>
</table>