<div *ngIf="project">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>{{project.name}} Overview</h4>
            <div class="row">
                <div class="col-md-2">Date:</div>
                <div class="col-md-4">{{project.mission_date}}</div>
                <div class="col-md-2">Assets:</div>
                <div class="col-md-4">
                    <p>{{project.assets[0].type}}: {{project.assets[0].name}}</p>
                    <p>{{project.assets[1].type}}: {{project.assets[1].name}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">Astronaut:</div>
                <div class="col-md-4">{{project.personnel[0]}}</div>
            </div>
        </div>
    </div>
</div>