.selected, .selected.tile-selectable:hover, .selected .caption {
    background-color: #333;
    color: #eee;
}
.selectable {
    cursor: pointer;
}
.selectable:hover {
    background-color: #dedede;
}
.grid-container {
    margin-top: 12px;
}
.caption {
    white-space: nowrap;
    overflow: hidden;
}