.selected, .selected:hover {
    background-color: #333;
    color: #eee;
}

tr.row-selectable {
    cursor: pointer;
}
tr.row-selectable td span {
    cursor: auto;
}
.sort-control {
    cursor: pointer;
}
.glyphicon {
    margin-left: 6px;
    padding-bottom: 3px;
    font-size: 12px;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .table {
        table-layout: fixed;
        width: 100%;
        white-space: nowrap;
    }
    .table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .col-name {
        width: 25%;
    }
    col-job {
        width: 15%;
    }
    .col-programs {
        width: 20%;
    }
    .col-missions {
        width: 30%;
    }
}
