<h1>Stakeholders</h1>
<person-detail [person]="selectedPerson"></person-detail>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Job</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of personnel" [class.selected]="person === selectedPerson">
            <td>{{person.name}}</td>
            <td>{{person.job}}</td>
            <td>
                <button class="btn btn-default" (click)="onViewDetails(person)">view details</button>
            </td>
        </tr>
    </tbody>
</table>